# Local Database
*.db
resumeiq.db
backend/resumeiq.db

# Python caches & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.pytest_cache/
.pytest_cache
backend/.pytest_cache/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Uploads and temporary files
uploads/*
!uploads/.gitkeep

# IDEs & System files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
.DS_Store
